extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Noel Keener
        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p 
            | Personable and detail-oriented web developer with a passion for delivering powerful, responsive web applications. Possesses a track record of discovering business needs and delivering productivity-improving solutions. 
            | Comprehensive knowledge of the software development lifecycle and requirements analysis.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technical Skills
        ul
          each skill in technical
            li= skill

        h6 Business Skills
        ul
          each skill in analytical
            li= skill

        h6 Contact Info
        ul
          li 
            a(href="mailto:noel@nakeener.com") noel@nakeener.com

        // TODO: Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/technakal' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  