extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Noel Keener
        p.lead.text-light
          | Full Stack JavaScript Developer
        .portfolio-bio
          p 
            | Personable and focused web developer with a passion for creating powerful, responsive web applications. Possesses a track record of discovering business needs and delivering productivity-improving solutions. Comprehensive knowledge of the software development lifecycle and requirements analysis techniques. Loves collaborating with others to build better software.
          p
            | Delivering results doesn't have to mean sacrificing relationships. I bring my best to every project, and I never miss an opportunity to laugh.
          h4 Experience
          h5 Pharmacists Mutual
          ul 
            li Business Analyst II
            li Business Analyst I
          p 
            | Managed business expectations and negotiated project delivery based on scope, timeline, and resource allocation. Worked with executives, business users, and developers to document business needs and deliver requirements specifications for all sizes of projects. Documented solution functionality and coordinated user training. 
          h5 MaxYield Cooperative 
          ul
            li Store Manager
            li Assistant Manager
          p 
            | Hired, trained, and supervised a dozen employees. Implemented a new point-of-sale and back-office database system to track inventory, process sales, and provide accounting summaries. Automated financial and managerial processes to reduce redundant data entry.
          h4 Education
          h5 freeCodeCamp | Front-End Web Development
          p 
            | Completed 400 hours of course work and hands-on development projects using HTML5, CSS3, JavaScript, Bootstrap, and jQuery, API integration.
          h5 Southern New Hampshire University | Information Technology
          p 
            | Bachelor’s degree in computer information technology. Coursework focused on computer hardware and software, database design and administration, network communications, and cyber security, Graduated with a 4.0 GPA.
          h4 Hobbies
          ul
            li Exercise enthusiast who enjoys working hard with calisthenics strength training.
            li Purveyor of science fiction and fantasy novels.
            li Collaborative storyteller, using imagination to entertain and foster relationships.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technical Skills
        ul
          each skill in technical
            li= skill
        h6 Business Skills
        ul
          each skill in analytical
            li= skill
        h6 Contact Info
        ul
          li 
            a(href="mailto:noel@nakeener.com") noel@nakeener.com
        a.button.expanded(href='https://www.linkedin.com/in/technakal/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/technakal' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  