extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Contact Me Today
        p.lead.text-light
          | I'm always excited to hear from new people. 
        p
          | Don't be shy. Have a project or job opportunity? Reach out, and let's talk about how I can help bring good ideas to life.        
        a.button.expanded(href="mailto:noel@nakeener.com") Email
        a.button.expanded(href='https://www.linkedin.com/in/technakal/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/technakal' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb