extends layout

block content
  section
    div.grid-x.grid-padding-x.grid-padding-y.align-center.align-middle
      h1.cell.small-10.text-center= `${error.message} - ${error.status}`
      pre.cell.small-12= error.stack
    .grid-x.grid-padding-x.align-center.align-middle
      a.button.primary(href="/") Go Back