:root {
  /* FONT VARIABLES */
  --font-main: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-header: 'Staatliches', serif;
  --font-size: 16px;

  /* COLOR VARIABLES */
  --color-text-main: #666;
  --color-text-dark: #111;
  --color-text-light: rgba(236, 233, 230, 0.938);
  --color-primary: #875053;
  --color-secondary: #f05053;
  --color-light: #fff;
  --color-bold: #fbf2c0;
}

body {
  background: var(--color-primary);
  background: linear-gradient(to bottom, var(--color-light), var(--color-text-light));
  font-family: var(--font-main);
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-header);
}

h5 {
  font-family: var(--font-main);
  letter-spacing: 2.5px;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
}

h6 {
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
}

p {
  color: var(--color-text-main);
  font-size: var(--font-size);
}

.round {
  border-radius: 5px;
}

.text-light {
  color: var(--color-text-main);
}

.button {
  background-color: var(--color-secondary);
}

.button:hover {
  background-color: var(--color-bold);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2);
  color: var(--color-text-dark);
}

a {
  color: var(--color-text-dark);
}

a:hover {
  color: var(--color-text-dark);
}

.image {
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 2px 4px 1px rgba(10, 10, 10, 0.2), 0 3px 5px 2px rgba(10, 10, 10, 0.29);
  display: inline-block;
  line-height: 0;
  margin-bottom: 1rem;
  max-width: 100%;
}

.title-bar {
  background: var(--color-primary);
}

.portfolio-me {
  background: var(--color-primary);
  background: linear-gradient(to bottom, var(--color-primary), var(--color-secondary));
  box-shadow: none !important;
  color: #fff;
  padding: 20px;
}

.portfolio-me p {
  color: var(--color-text-light);
}

.portfolio-me a {
  color: var(--color-text-light);
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
}

.portfolio-me a:hover {
  color: var(--color-bold);
}

.portfolio-breadcrumb {
  border-bottom: 1px solid var(--color-text-light);
  margin: 0;
  padding: 20px;
}

.portfolio-breadcrumb a {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
}

.portfolio-intro {
  margin: 0;
  padding: 40px 50px 10px;
}

.portfolio-intro p {
  border-bottom: 1px solid var(--color-text-light);
}

.portfolio-index {
  margin: 0;
  padding: 10px 50px;
}

.portfolio-index .thumbnail {
  margin-bottom: 5px;
  transition: 0.1s all ease-in;
}

.portfolio-index .thumbnail:hover {
  box-shadow: 0 3px 4px rgba(10, 10, 10, 0.2), 0 5px 7px 3px rgba(10, 10, 10, 0.29);
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s all ease-out;
}

.portfolio-index a {
  color: #222;
}

.portfolio-index .cell {
  margin-bottom: 15px;
}

.portfolio-index .cell h5 {
  letter-spacing: 1px;
}

.portfolio-meta {
  padding-left: 20px;
}

.portfolio-meta .button {
  margin-bottom: 5px;
}

.portfolio-project p {
  border: none;
}

.portfolio-project li {
  color: var(--color-text-main);
}

.portfolio-bio {
  line-height: 25px;
}